<div class="user-details">
  <h1> Proyectos </h1>
  <p> {{site.projects_description}} </p>
</div>

<div class="user-projects">
  <h3> Mis Numeros </h3>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mis_numeros.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <p>Simulador de créditos hipotecarios orientado a personas que no son clientes del banco con pocos conocimientos sobre créditos hipotecarios, enfocado a personas jovenes que quieren adquirir un patrimonio.</p>
    <ul>
      <li> Construir webcomponents para el correcto acoplamiento con los requerimientos de negocio.</li>
      <li> Desarrollar test unitarios de los webcomponents construidos.</li>
      <li> Desarrollar funcionalidad para el consumo de API’s Rest.</li>
      <li> Despliegues productivos de nuevos features.</li>
    </ul>
    <a class="project-link" target="_blank" href="https://www.bbva.mx/personas/productos/créditos/credito-hipotecario/haz-tus-numeros.html">Puedes verlo aqui</a>
  </div>
</div>

<div class="user-projects">
  <h3> Simulador Hipotecario para no clientes </h3>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/zona_publica.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <p>Simulador de créditos hipotecarios orientado a personas que no son clientes del banco con conocimientos sobre créditos hipotecarios, enfocado a personas que quieren adquirir un nuevo patrimonio.</p>
    <ul>
      <li> Construir nuevos features en base a los requerimientos de negocio.</li>
      <li> Desarrollo del carrusel de productos. </li>
      <li> Desarrollo de PDF de la tabla de amortización.</li>
      <li> Implementación de servicios REST. </li>
    </ul>
    <a class="project-link" target="_blank" href="https://www.bbva.mx/personas/productos/créditos/credito-hipotecario/simulador-credito-hipotecario.html">Puedes verlo aqui</a>
  </div>
</div>

<div class="user-projects">
  <h3> Simulador Hipotecario para clientes </h3>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/zona_privada.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <p>Simulador de créditos hipotecarios orientado a personas que son clientes del banco con conocimientos sobre créditos hipotecarios, enfocado a personas que quieren adquirir un nuevo patrimonio.</p>
    <ul>
      <li> Construir nuevos features en base a los requerimientos de negocio.</li>
      <li> Desarrollo de funcionalidad responsive.</li>
      <li> Implementación de servicios REST.</li>
      <li> Despliegues productivos de nuevos features.</li>
    </ul>
    <a class="project-link" target="_blank" href="https://www.bbva.mx/personas/productos/créditos/credito-hipotecario.html">Puedes verlo aqui</a>
  </div>
</div>



